<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Search</title>
  </head>
  <body>
    <h1>Job Search</h1>
    <form action="/report" method="GET">
      <input type="text" placeholder="Which jobs?" name="word" required />
      <!-- <input
        type="text"
        placeholder="Which location? (ZIP Code)"
        name="location_zip"
        required
      />
      <input
        type="text"
        placeholder="Search Radius(5/10/20/50/100 Miles)"
        name="radius_zip"
        required
        style="width: 250px;"
      /> -->
      <button>Search</button>
    </form>
  </body>
</html>
