<!DOCTYPE html>
<html>

<head>
	<title>
    Search Results
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1><a href="/">Remote Jobs Search</a></h1>
    <h3>Found {{searchNum}} remote job postings for term: {{searchTerm}} </h3>
    <h5>
      <a href="/export?term={{searchTerm}}" target="_blank">Export results in CSV</a>
    </h5>
    <h5>
      <a href="/">← Go Back</a>
    </h5>
  </header>
  <main>
    {% for job in jobs %}
        <div>
            <h3>{{job.title}}</h3>
            <h4>{{job.company}}</h4>
            <a href="{{job.apply_link}}" target="_blank">Apply Now</a>
            <hr />
        </div>
    {% endfor %}
  </main>
</body>

</html>